<form action="/blog/create" method="POST">
    {{ csrfField() }}
    Title : <input type="text" name="title"> <br>
    Content : <textarea name="content" cols="30" rows="10"></textarea> <br>
    <button type="submit">Save</button>
</form>